body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #6E9E6D;
    font-family: Helvetica;
    color:#FFFFFF;
    font-family: 'Patrick Hand';
}

.privacy {
    max-width: 800px;
    margin: 20px;
}
.privacy a {
    color: #FFFFFF;
}

h1 {
    font-family: 'Patrick Hand';
    font-size: 50px;
}

.phrase {
    font-size: 25px;
    padding: 10px 24px;
    text-align: center;
}

img.image {
    width: 400px;
    height: 400px;
}

.store-badges {
    display: flex;
}
.store-badges img {
    height: 50px;
    padding: 5px;
}

.footer {
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 12px;
}

@media (max-width: 550px) { 
    h1 {
        margin: 20px 0;
        font-size: 35px;
    }
    .phrase {
        font-size: 20px !important;
    }
    img.image {
        width: 100vw;
        height: 100vw;
    }
}

@media (min-height: 701px) and (max-height: 800px) { 
    h1 {
        font-size: 42px;
    }
    img.image {
        width: 45vh;
        height: 45vh;
    }
    .footer span {
        display: block;
    }
}

@media (max-height: 700px) { 
    h1 {
        margin: 20px 0;
        font-size: 35px;
    }
    .phrase {
        font-size: 20px !important;
    }
    img.image {
        width: 40vh;
        height: 40vh;
    }
    .store-badges img {
        height: 45px;
    }
    .footer span {
        display: block;
    }
}