* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  header {
    height: 70px;
    background-color:  #123778;
    padding: 10px 0;
  }
  .menu-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }
  .logo-img {
    height: 50px;
  }
  .menu-icon {
    font-size: 2.4em;
    color: #e6e6e6;
    line-height: 50px;
  }
  nav {
    position: absolute;
    background-color: #3D4852;
    top:70px;
    left:0;
    width: 100%;
  }
  nav ul {
    list-style-type: none;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s;
  }
  nav ul li {
    padding: 0 15px;
  }
  nav ul li a {
    display: inline-block;
    padding: 12px;
    color: #e6e6e6;
    text-decoration: none;
    letter-spacing: 0.05em;
  }
  nav ul li a:hover, nav ul li a:focus {
    color: #667385;
  }
  #checkbox {
    display: none;
  }
  #checkbox:checked ~ nav ul {
    max-height: 200px;
    padding: 15px 0;
    transition: all 0.5s;
  }
  
  @media (min-width: 768px) { 
    .menu-icon {
        display: none;
    }
    nav {
        position: relative;
        top: -10px;
        background-color: transparent;
    }
    nav ul {
        max-height: 70px;
        padding: 15px 0;
        text-align: right;
    }
    nav ul li {
        display: inline-flex;
        padding-left: 20px;
    }
  }
  
  h1{
    font-size: 2.2em;
    font-family: 'Fugaz One', cursive;
    text-align: center;
    padding: 60px 40px 30px;
    color:#123778;
    line-height: 1.2;
  }
  h3{
    text-align: center;
    font-family: 'Suez One', serif;
  }
  p{
    line-height: 1.6;
    font-size: 1.2em;
    padding: 0 40px;
    text-align: center;
    color: #3D4852;
  }


  .zoom {
    transition: transform .2s; /* Animation */
    margin: 10px auto;
}

  .zoom:hover {
      transform: scale(1.3);
  }

  .contact-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .contact-option {
    display: flex;
    flex-direction: column;
    padding: 40px;
  }

  .contact-option-icon {
    display: flex;
    align-items: center;
  }

  .headshot {
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .page-wrap {
    min-height: 100%;
  }
  .page-wrap:after {
    content: "";
    display: block;
  }
  .site-footer, .page-wrap:after {
    height: 50px; 
    width: 100%;
    position: absolute;
    bottom: 0px;
  }
  .site-footer {
    background:  #123778;
    padding: 15px;
    text-align: center;
    max-height: 50px;
    background-color: #123778;
    color: #e6e6e6;
    padding-bottom: -50px;
}